.no-margin {
    margin: 0;
    padding: 0;
}

.page {
    flex: 1;
    order: 2;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    height: 90%;
}

.bicycle_profile_left {
    width: 20%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.bicycle_profile_right {
    width: 80%;
    padding: 20px;
    display: block;
}

.bicycle-page-top {
    display: flex;
}

.bicycle-page-title {
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 3px solid rgb(101, 176, 238);
    padding: 20px;
    background-color: rgb(245, 245, 245);
    display: inline-block;
    margin: 20px 0px 20px 0px;
    height: 100%;
}

.bicycle-page-bottom {
    width: 60%;
    padding: 20px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 3px solid rgb(255, 199, 58);
}

.bicycle-page-title .primary {
    font-size: 30px;
    margin: 0px;
    text-align: left;
}

.bicycle-page-title .primary-basic {
    font-size: 30px;
    margin: 0px;
}

.bicycle-page-title .secondary {
    font-size: 16px;
    margin: 0px;
    color: rgb(158, 158, 158);
    text-align: left;
}

.pageContentMenu {
    position: relative;
    font-size: '14px';
    font-family: Poppins, sans-serif;
    width: 90%;
    margin: 0 auto;
}

.pageContent {
    position: relative;
    font-size: '14px';
    font-family: Poppins, sans-serif;
    width: 90%;
    margin: 0 auto;
}

.contentField {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.fieldName {
    width: 40%;
    display: inline-block;
}

.fieldValue {
    width: 60%;
    display: inline-block;
}

.section {
    width: 100%;
}

.section-title {
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    font-family: Poppins, sans-serif;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: orange;
}

.text-field {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 16px;
    margin-bottom: 30px;
}

.break {
    margin-bottom: 30px;
}

.picture {
    width: 100%;
    min-height: 120px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin: 20px;
    padding: 20px;
    background-color: rgb(245, 245, 245);
    display: inline-block;
}

.picture img {
    max-height: 120px;
    max-width: 120px;
    margin: 0 auto;
    filter: opacity(70%);
    -webkit-filter: opacity(70%);
}

.icon {
    height: 20px;
    width: 20px;
    filter: opacity(25%);
}

.icon:hover {
    filter: opacity(100%);
}

.link a:visited {
    color: rgb(167, 167, 167);
}

.link a:hover {
    color: black;
}