

.navbar-container {
    background-color: #f5f5f5;
    width: 100%;
    height: 70px;
}

.navbar-follow {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.navbar_web_top {
    background-color: #ffffff;
    color: steelblue;
    width: 100%;
    height: 65%;
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.navbar_web_bottom {
    background-color: #f5f5f5;
    color: black;
    width: 100%;
    height: 35%;
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.navbarButtons_web_top {
    width: 40%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    height: 100%;
}

.navbarButton_web_top {
    height: 100%;
    width: 20%;
    text-align: center;
    display: block;
    padding-top: 10px;
}

.navbarButton_web_top:hover {
    color: rgb(97, 171, 231);
}

.navbarButtons_web_top a.active {
    color: rgb(97, 171, 231);
}

.navbarButtons_web_bottom {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.navbarButton_web_bottom {
    height: 100%;
    width: 25%;
    text-align: center;
}

.navbarButton_web_bottom:hover {
    background-color: #d6d6d6;
}

.navbarButtons_web_bottom a.active {
    border-bottom: 3px solid steelblue;
}

.navbarLogo_web {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbarLogo_web img {
    height: 30px;
    margin: auto;
    margin-left: 20px;
}

.navbar_top_search {
    width: 35%;
    height: 100%;
    align-items: center;
    display: flex;
}

.navbar_top_search input {
    width: 100%;
}